{% extends "base.html" %}
{% block app_content %}

<div class="d-flex justify-content-center align-items-center flex-column">
    <h2 class="font-weight-bolder mt-3">From Policy to Plate</h2>
    <p class="lead">Predicting prevalence of moderate/severe food insecurity with quality of governance.</p>
    <div class="d-flex align-items-stretch gap-5" style="width: 85vw">
        <div class="card  " style="background-color:#edf2ff; width: 50%;">
            <div class="card-body">
                <h5 class="card-title">Input Quality of Governance</h5>
                <form method="POST", action="{{url_for('prediction')}}" class="d-flex flex-column">
                    <div class="mb-4">
                        <div class="d-flex justify-content-between align-items-end">
                            <p class="m-0" style="font-size: 14px;">Control of Corruption: (-2.5 Weak to 2.5 Strong)</p>
                            <input class="rounded-3 border border-1 border-dark p-2" type="text" id="corruptionValue"
                                name="corruptionValue" value=0 style="width: 60px; height: 30px;"
                                onchange="updateSliderInputCOC(this.value)" />

                        </div>
                        <input type="range" id="corruptionSlider" name="corruptionSlider" min="-2.5" max="2.5"
                            step="0.01" value="0" oninput="updateTextInputCOC(this.value)" style="width: 100%;" />
                    </div>
                    <div class="mb-3">
                        <div class="d-flex justify-content-between align-items-end">
                            <p class="m-0" style="font-size: 14px;">Political Stability & Absence of Violence (-2.5 Weak
                                to 2.5 Strong)</p>
                            <input class="rounded-3 border border-1 border-dark p-2" type="text" id="polValue"
                                name="polValue" value=0 style="width: 60px; height: 30px;"
                                onchange="updateSliderInputPOL(this.value)" />

                        </div>
                        <input type="range" id="polSlider" name="polSlider" min="-2.5" max="2.5" step="0.01" value="0"
                            oninput="updateTextInputPOL(this.value)" style="width: 100%;" />
                    </div>
                    <div class="mb-3">
                        <div class="d-flex justify-content-between align-items-end">
                            <p class="m-0" style="font-size: 14px;">Rule of Law (-2.5 Weak
                                to 2.5 Strong)</p>
                            <input class="rounded-3 border border-1 border-dark p-2" type="text" id="rolValue"
                                name="rolValue" value=0 style="width: 60px; height: 30px;"
                                onchange="updateSliderInputROL(this.value)" />

                        </div>
                        <input type="range" id="rolSlider" name="rolSlider" min="-2.5" max="2.5" step="0.01" value="0"
                            oninput="updateTextInputROL(this.value)" style="width: 100%;" />
                    </div>
                    <div class="mb-3">
                        <div class="d-flex justify-content-between align-items-end">
                            <p class="m-0" style="font-size: 14px;">Government Effectiveness (-2.5 Weak
                                to 2.5 Strong)</p>
                            <input class="rounded-3 border border-1 border-dark p-2" type="text" id="geValue"
                                name="geValue" value=0 style="width: 60px; height: 30px;"
                                onchange="updateSliderInputGE(this.value)" />

                        </div>
                        <input type="range" id="geSlider" name="geSlider" min="-2.5" max="2.5" step="0.01" value="0"
                            oninput="updateTextInputGE(this.value)" style="width: 100%;" />
                    </div>
                    <div class="mb-3">
                        <div class="d-flex justify-content-between align-items-end">
                            <p class="m-0" style="font-size: 14px;">Literacy Rate (0-100%)</p>
                            <input class="rounded-3 border border-1 border-dark p-2" type="text" id="lrValue"
                                name="lrValue" value=0 style="width: 60px; height: 30px;"
                                onchange="updateSliderInputLR(this.value)" />

                        </div>
                        <input type="range" id="lrSlider" name="lrSlider" min="0" max="100" step="0.1" value="0"
                            oninput="updateTextInputLR(this.value)" style="width: 100%;" />
                    </div>


                    <input type="submit" value="Start Prediction" class="bg-primary text-light border-0 rounded-2 py-2">

                </form>
            </div>
        </div>
        <div class="card  " style="background-color:rgb(212, 255, 148); width: 50%">
            <div class="card-body">
                <h5 class="card-title">Predicted Prevalence of Food Insecurity</h5>
                <p class="card-text">
                    The predicted prevalence of moderate/severe food insecurity is: 
                </p>
                {% if data %}
                    <h2>{{ data[0]|round(2) }} %</h2>
                    <p class="font-weight-bolder">Control of Corruption: {{ input[0] }}</p>
                    <p class="font-weight-bolder">Political Stability: {{ input[1] }}</p>
                    <p class="font-weight-bolder">Rule of Law: {{ input[2] }}</p>
                    <p class="font-weight-bolder">Government Effectiveness: {{ input[3] }}</p>
                    <pclass="font-weight-bolder" >Literacy Level {{ input[4] }}</p>

                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    function updateTextInputCOC(value) {
        document.getElementById('corruptionValue').value = value;
    }
    function updateSliderInputCOC(value) {
        if (value < -2.5 || value > 2.5) {
            document.getElementById('corruptionSlider').value = 0
            updateTextInputCOC(0)
        } else {
            document.getElementById('corruptionSlider').value = value;

        }
    }

    function updateTextInputPOL(value) {
        document.getElementById('polValue').value = value;
    }
    function updateSliderInputPOL(value) {
        if (value < -2.5 || value > 2.5) {
            document.getElementById('polSlider').value = 0
            updateTextInputPOL(0)
        } else {
            document.getElementById('polSlider').value = value;

        }
    }

    function updateTextInputROL(value) {
        document.getElementById('rolValue').value = value;
    }
    function updateSliderInputROL(value) {
        if (value < -2.5 || value > 2.5) {
            document.getElementById('rolSlider').value = 0
            updateTextInputROL(0)
        } else {
            document.getElementById('rolSlider').value = value;

        }
    }

    function updateTextInputGE(value) {
        document.getElementById('geValue').value = value;
    }
    function updateSliderInputGE(value) {
        if (value < -2.5 || value > 2.5) {
            document.getElementById('geSlider').value = 0
            updateTextInputGE(0)
        } else {
            document.getElementById('geSlider').value = value;

        }
    }


        function updateTextInputLR(value) {
            document.getElementById('lrValue').value = value;
        }
        function updateSliderInputLR(value) {
            if (value < -2.5 || value > 2.5) {
                document.getElementById('lrSlider').value = 0
                updateTextInputLR(0)
            } else {
                document.getElementById('lrSlider').value = value;

            }
        }
</script>

{% endblock %}